@use "sass:math";
@use "sass:color";
@use "../mixin/variable" as *;

/* ==== RESET ==== */
html {
  font-size: 10px;
  line-height: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-default;
  font-size: $size-default;
  color: $color-default;
  font-optical-sizing: auto;
  font-style: normal;
  word-wrap: break-word;
  letter-spacing: .1rem;
  line-height: var(--line-height-default);
  background-color: $color-bg-default;
  overflow-x: hidden !important;
}

* {
  backface-visibility: hidden;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  text-decoration: none;
  vertical-align: top;
  border: 0;
}

a {
  color: $color-default;
  outline: none;
  transition: all .35s ease-in-out;
}
a, a:visited, a:hover, a:focus, a:active {
  text-decoration: none;
}
a:hover {
  color: $color-main;
}

input, textarea, select, button {
  font-size: 1.6rem;
  font-weight: 400;
}

textarea, input {
  appearance: none;
  border-radius: 0;
}

input, textarea, select {
  font-size: 1.6rem;
  border: none;
  border-radius: 0;
  box-shadow: none !important;
}

input, textarea, select, input[type="radio"], input[type="checkbox"] {
  appearance: none;
}

textarea { resize: vertical; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p {
  margin: 0;
  padding: 0;
  line-height: inherit;
}

span { display: inline-block; }

label {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  vertical-align: baseline;
  border: 0;
}

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
}

::placeholder, ::-webkit-input-placeholder, :-ms-input-placeholder, :-moz-placeholder {
  font-size: 1.6rem;
  color: #999;
  opacity: 1;
}

.reset {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.reset input, .reset label, .reset select {
  vertical-align: middle;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

::after, ::before {
  box-sizing: border-box;
}