@use "sass:math";
@use "sass:color";
@use "../mixin/variable" as *;

/* ==== footer ==== */
.footer {
  padding: max(80px, 6.5vw) var(--padding-spac) max(40px, 3.5vw);
  text-align: center;
  background: url("../images/bg_sky.jpg") no-repeat center top $color-secon;
  background-size: 100% auto;
  &__logo {
    margin: 0 auto max(12px, 1vw);
    max-width: 150px;
  }
  p {
    font-size: 1.3rem;
    color: rgba($color-blue, 0.6);
    br {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    padding-bottom: calc(max(40px, 3.5vw) + 49px);
  }
}